/* common */
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #f6f8f9;
}

.inline_block {
  display: inline-block;
}

.bg_blue {
  background-color: #47adf1;
}
.bg_violet {
  background-color: #9c72e4;
}
.bg_orange {
  background-color: #f29e33;
}
.bg_green {
  background-color: #64c0a9;
}
.bg_l_green {
  background-color: #b0c926;
}
.bg_pink {
  background-color: #d863a1;
}
.bg_white {
  background-color: #ffffff;
}

.button_circle {
  border-radius: 15px;
  padding: 3px;
  font-size: x-small;
  color: white;
}
.button_rounded {
  border-radius: 5px;
  padding: 5px;
  font-size: small;
  color: white;
}
#transparent {
  color: #c8cbce;
  border: 1px solid #c8cbce;
}

.list_circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
}
.check {
  color: #7ad4bf;
  border: 1px solid #7ad4bf;
 }
.cross {
  color: #e97975;
  border: 1px solid #e97975;
}

/* head */
header {
  background-color: white;
  height: 70px;
  /* line-height: 70px; */
  padding: 10px;
}
h1 {
  font-size: 3em;
}

/* main */
main {
  padding-top: 40px;
}

.container {
  width: 60%;
  margin: 3px auto;
  padding: 20px 60px;
  background-color: white;
  border-radius: 5px;
}
.menu {
  height: 40px;
  padding-top: 5px;
}

.list {
  padding-top: 20px;
}
.list div {
  margin: 15px 0;
}
